SECRET_KEY=626b7355ab24bc12de508405c57209ece238f87940e8aae6c756a976b1e454dd
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=2rjA3YbZTEJgqAy.root
DB_PASSWORD=rC9YZ1AACy9TYMD0
DB_NAME=campus_events
DB_CA=./certs/isrgrootx1.pem
CLOUDINARY_URL=cloudinary://216516145355961:54O98_YVhxLp4dVeqP3Pj8wJMOU@dipeupebc
CLOUDINARY_CLOUD_NAME=dipeupebc
CLOUDINARY_API_KEY=216516145355961
CLOUDINARY_API_SECRET=54O98_YVhxLp4dVeqP3Pj8wJMOU
CLOUDINARY_FOLDER=cems-share/gallery