SECRET_KEY=replace-me
DB_HOST=your-db-host
DB_PORT=3306
DB_USER=your-user
DB_PASSWORD=your-password
DB_NAME=your-database
DB_CA=./certs/isrgrootx1.pem
DB_SSL_VERIFY_CERT=true
DB_SSL_VERIFY_IDENTITY=false
CLOUDINARY_URL=cloudinary://your_api_key:your_api_secret@your_cloud_name
